<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2026 LatentJam Project
  SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <package android:name="io.github.nikitasud.latentjam.kmp" />
    </queries>
</manifest>
